<ion-view>
  <ion-nav-bar class="bar-positive">

    <ion-nav-title>
      About Developer
    </ion-nav-title>

  </ion-nav-bar>

  <ion-content scroll="false">
    <div class="card">
      <div class="item">
        <img src="img/ionic.png" style="margin:auto;display: block;padding: 1em;">
        <h3>Mr.Peerawat Boonsaen (Pee)</h3>
        <p>Website : Gooooo.com</p>
        <p>Facebook : Pee Peerawat</p>
        <p>Youtube : http://youtube.com/HerqRish</p>
        <p>LineId : Peekaboo55</p>
      </div>
    </div>
  </ion-content>
</ion-view>

