<ion-view>
  <ion-nav-bar class="bar-positive">

    <ion-nav-title>
      Plugin ngCordova
    </ion-nav-title>

  </ion-nav-bar>

  <ion-content>
        <button class="button button-block button-balanced" ng-click="btnAlert()">Alert</button>
        <button class="button button-block button-assertive" ng-click="btnConfirm()">Confirm</button>
        <button class="button button-block button-calm" ng-click="btnVibrate()">Vibrate</button>
        <button class="button button-block button-energized" ng-click="btnBeep()">Beep</button>
        <button class="button button-block button-energized" ng-click="btnCamera()">Cameara</button>
  </ion-content>
</ion-view>
